<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    {% load static %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'main/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/mystyle.css' %}">
</head>
<body class="text-center" style="padding-top:0">

  {% include "components/navbar.html" %}

  <div class="card carousel slide container px-4 py-5">
    <form method="POST" action="">
      {% csrf_token %}`
      {{form.as_p}}
      <input type="submit" name="Create User">    
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>